ol, ul{
  list-style: none;
  
}
a{
    color: inherit;
}
section a {
    color: #000000;
}
section h1 {
    background-color: #000000;
    color: #FDFEFE;
}
section h2 {
    background-color: #DE3163;
    font-size: 2em;
    color: #000000;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
section h3 {
    background-color: #000000;
    color: #FFFFFF;
}
/* House styles below */
@font-face {
    font-family: "American Typewriter";
}
:-webkit-any(article, aside, nav, section) h1 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FDFEFE;
    font-size: 1em;
}

header{
  width: 100%;
}
header nav ul{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: max-content;
}
header nav ul li{
  margin-bottom: 5px;
  color: #FF0000;
  width: max-content;
}
header nav ul li:nth-child(1){
  float: left;
}
header nav ul li:nth-child(2){
  float: right;
}
header nav ul li:nth-child(3){
  float: right;
}
h1, h2, h3, h4, h5{
  font-weight: bold;
}
h1{
  font-size: 2.5em;
  line-height:1.5em;
}
}
h3{
  font-size: 1.266em;
  line-height:1.3em;
}
h4{
  font-size: 1.125em;
}
li{
  padding-left: 10px;
  font-weight: bold;
}
p ~ p{
  padding-top: 5px;
}
p {
    font-weight: bold;
}
nav{
  height: 30px;
  margin-top: 10px;
}
section{
  padding: 10px 0;
}
section section{
  padding: 0 10px;
}
main{
  padding: 0 10px;